/* FORMS.css
 * ========================================================================== */



/* General */

label {
  color: #666;
}

input {
  width: 100%;
  padding: 0.4em 0;
  font-family: 'Source Code Pro', monospace;
  font-weight: 600;
  font-size: 1.2rem;
  color: #000;
  border: none;
  box-shadow: 0 1px 0 #666;
}

  input:hover,
  input:focus {
    background-color: rgba(0, 0, 0, 0.05);
    outline: none;
    box-shadow: 0 2px 0 #666;
  }

  input:disabled {
    background-color: rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 0 #666;
  }




/* Submit / Button */

input[type="submit"],
button,
.button {
  width: auto;
  padding: 0.4em 0.8em;
  font-family: 'Source Code Pro', monospace;
  font-weight: 600;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  border: 1px solid #666;
  background: none;
  box-shadow: none;
}

  input[type="submit"]:hover,
  input[type="submit"]:focus,
  button:hover,
  button:focus,
  .button:hover,
  .button:focus {
    color: #000;
    background-color: rgba(0, 0, 0, 0.05);
    outline: 1px solid #666;
  }

  input[type="submit"]:active,
  button:active,
  .button:active {
    background-color: rgba(0, 0, 0, 0.1);
    border-color: #000;
    outline-color: #000;
  }

  .button--inline {
    display: inline-block;
  }

  .button-group {
    margin: 3rem 0;
  }

    .button-group__right {
      float: right;
    }

    .button-group::after {
      content: '';
      display: table;
      line-height: 0;
      clear: both;
    }




/* Form Input */

.form-input {
  display: block;
  margin-bottom: 3rem;
  cursor: pointer;
}

  .form-input::first-line .form-input__note {
    margin-left: 0.4em;
  }

  .form-input__note {
    font-size: 0.75em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #888;
  }

  .form-input__field {
    display: block;
    margin-top: 0.8rem;
  }




/* Form Group */

@media (min-width: 990px) {
  .form-group {
    display: flex;
    align-items: flex-end;
    margin-left: -15px;
    margin-right: -15px;
  }

    .form-group__item {
      flex: 0 1 auto;
      padding-left: 15px;
      padding-right: 15px;
    }

    .form-group__item--20 {
      flex-basis: 20%;
    }

    .form-group__item--30 {
      flex-basis: 30%;
    }

    .form-group__item--50 {
      flex-basis: 50%;
    }

    .form-group__item--60 {
      flex-basis: 60%;
    }

    .form-group__item--80 {
      flex-basis: 80%;
    }
}




/* Form Work */

.form-work {
  position: relative;
  padding-right: 8rem;
}

  .form-work__input {
    position: relative;
  }

  .form-work__button {
    position: absolute;
  }

    .form-work__button--remove {
      bottom: 3rem;
      right: -3rem;
    }

    .form-work__button--add {
      bottom: 3rem;
      right: 0;
    }
