/* ICONS.css
 * ========================================================================== */



/* General icon styling */

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: -0.1em;
  background-repeat: no-repeat;
  background-size: 100%;
}




/* Set icons as background-image */

.icon--app {
  background-image: url('../icons/app.svg');
}

.icon--edit {
  background-image: url('../icons/edit.svg');
}

.icon--delete {
  background-image: url('../icons/delete.svg');
}
